/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

header{
    background-color: rgb(37, 37, 37);
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}

.headerLeft{
    margin-left: 1vw;
    width: 40vw;
    color:rgb(42, 171, 226);


}

.headerRight{
    margin-right:1vw;
    width:58vw;
    display:flex;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
}

nav > a:link{
    text-decoration: none;
    color: white;

}
nav > a:visited{
    color: white;
    text-decoration: none;
}

main{
    padding-top:10vh;
    display: flex;
    flex-direction: row;
}

#left{
    margin-left: 9vw;
    width: 59vw;
}

#right{
    margin-right: 9vw;
    width: 21vw;
    display:flex;
    flex-direction:column;
    align-items: flex-end;

}

.profileBox{
    display: flex;
    flex-direction: column;
    width: 18vw;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(102, 75, 75, .3), -10px -10px 15px rgba(102, 75, 75, .3);
}

.profilePic{
    width: 15vw;
}

#articles{
    margin-top:33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
}